# OS junk
.DS_Store
Thumbs.db

# ChatTriggers cache and logs
cache/
logs/

# Ignore all other modules except ZPH (if working inside .minecraft directory)
../*/  # ignore sibling modules
!/../ZPH/  # un-ignore this module (ZPH)

# Minecraft folders (if working from .minecraft)
../../../logs/
../../../config/
../../../mods/
../../../saves/
../../../resourcepacks/
../../../libraries/
../../../screenshots/

# IDE/project files
.idea/
.vscode/
*.iml

# Node-related (if using any frontend tooling)
node_modules/
dist/
build/
*.log
